<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>深度学习数据集共享平台</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
</head>
<body>
<header class="p-3 text-bg-light border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'images/share.svg' %}" alt="" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">分类数据集</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">上传数据集</a></li>
                {#                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>#}
                {#                <li><a href="#" class="nav-link px-2 text-white">About</a></li>#}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control " placeholder="搜索数据集..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded border-success-subtle">
    <h1>数据集列表</h1>
    <div class="row row-cols-2 row-gap-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Name of datasets
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'images/ironman.svg' %}" class="rounded-circle" height="30" width="30"
                             alt="">
                        qinweijia
                    </div>
                    <div>
                        发表时间：2024年5月27日
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>